/* header .logo
{
  color: green;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
} */
/* header{
  width: 99%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color:  #ffeecc;
  position: fixed;
  box-shadow: 0 -5px 15px #000;
} */
  /* header ul{
    width: 75%;
    height: 100%;
    text-align: right;
  }
  header li{
    display: inline-block;
    margin-right: 40px;
    color: green;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
  } */
#logo{
  color: green;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar{
    background-color:  #e2bca3 ;
    opacity: 0.95;
}
body{
  background-color: #f9f3ef !important;
}

/* .container {
  position: relative !important;
  text-align: center !important;
  color: white !important;
} */
html, body, .container {
  height: 100%;
}


body{
  background-image: url("assets/img2.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #e2bca3;

}
 .container {
  display: table;
  width: 100%;

}
.content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.wrapper{
  margin-top:100px;
  margin-left: 15%;
  background-color: white;
  border: 1px solid white;
	border-radius: 30px;
	padding: 010px;
  text-align: center;
  vertical-align: middle;
  width: 70%;
  opacity: 0.8;
}
